In [1]:
import gast

In [24]:
%matplotlib notebook
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

In [25]:
import urllib.request
import os

In [28]:
df_data=pd.read_csv("data/titanic.csv",header=0);

In [29]:
print(df_data)

      row.names pclass  survived  \
0             1    1st         1
1             2    1st         0
2             3    1st         0
3             4    1st         0
4             5    1st         1
...         ...    ...       ...
1308       1309    3rd         0
1309       1310    3rd         0
1310       1311    3rd         0
1311       1312    3rd         0
1312       1313    3rd         0

                                                 name      age     embarked  \
0                        Allen, Miss Elisabeth Walton  29.0000  Southampton
1                         Allison, Miss Helen Loraine   2.0000  Southampton
2                 Allison, Mr Hudson Joshua Creighton  30.0000  Southampton
3     Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)  25.0000  Southampton
4                       Allison, Master Hudson Trevor   0.9167  Southampton
...                                               ...      ...          ...
1308                               Zakarian, Mr Artun      NaN          NaN
1309                           Zakarian, Mr Maprieder      NaN          NaN
1310                                  Zenn, Mr Philip      NaN          NaN
1311                                    Zievens, Rene      NaN          NaN
1312                                   Zimmerman, Leo      NaN          NaN

                            home.dest room      ticket   boat     sex
0                        St Louis, MO  B-5  24160 L221      2  female
1     Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
2     Montreal, PQ / Chesterville, ON  C26         NaN  (135)    male
3     Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
4     Montreal, PQ / Chesterville, ON  C22         NaN     11    male
...                               ...  ...         ...    ...     ...
1308                              NaN  NaN         NaN    NaN    male
1309                              NaN  NaN         NaN    NaN    male
1310                              NaN  NaN         NaN    NaN    male
1311                              NaN  NaN         NaN    NaN  female
1312                              NaN  NaN         NaN    NaN    male

[1313 rows x 11 columns]

In [33]:
#筛选提取需要的特征字段
selected_cols=['survived','name','pclass','sex','age','sibsp','parch','fare','embarked']
selected_df_data=df_data[selected_cols]

KeyError: "['sibsp', 'parch', 'fare'] not in index"

In [31]:
#数据的预处理
def prepare_data(df_data):
    df=df_data.drop(['name'],axis=1) #删除姓名列
    age_mean=df['age'].mean()
    df['age']=df['age'].fillna(age_mean) #为缺失age记录填充值
    fare_mean=df['fare'].mean()
    df['fare']=df['fare'].fillna(fare_mean) #为缺失fare记录值填充值
    df['sex']=df['sex'].map({'female':0,'male':1}).astype(int) #把sex值由字符串转换为数值类型
    df['embarked']=df['embarked'].fillna('Southampton') #为缺失embarked记录填充值
    df['embarked']=df['embarked'].map({'Cherbourg':0,'Queenstown':1,'Southampton':2}).astype(int) #把embarked值由字符串转换为数值
    
    ndarray_data=df.values #转换为ndarry数组
    
    features=ndarray_data[:,1:] #后7列是特征值
    label=ndarray_data[:,0] #第0列是标签值
    
    #特征值标准化
    minmax_scale=preprocessing.MinMaxScaler(feature_range=(0,1))
    norm_features=minmax_scale.fit_transform(features)
    return norm_features,label

In [32]:
shuffled_df_data=selected_df_data.sample(frac=1)

NameError: name 'selected_df_data' is not defined

In [ ]:
x_data,y_data=prepare_data(shuffled_df_data)

In [ ]:
#划分训练数据集和测试数据集
train_size=int(len(x_data)*0.8)

x_train=x_data[:train_size]
y_train=y_data[:train_size]

x_test=x_data[train_size:]
y_test=y_data[train_size:]

In [6]:
model=tf.keras.models.Sequential()

In [7]:
model.add(tf.keras.layers.Dense(units=64,input_dim=7,use_bias=True,kernel_initializer='uniform',bias_initializer='zeros',activation='relu'))

In [8]:
model.add(tf.keras.layers.Dense(units=32,activation='sigmoid'))

In [9]:
model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [ ]:
#模型训练
train_history=model.fit(x=x_train,y=y_train,validation_split=0.2,epochs=100,batch_size=40,verbose=2)